<component>
  <!--Medications-->
  <section>
	<templateId root="2.16.840.1.113883.10.20.22.2.1.1" extension="2014-06-09"/>
    <code code="10160-0" displayName="History of medication use" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"/>
    <title>Medications</title>
    <%== render :partial => 'narrative_block', :locals => {:entries => entries, :section => 'medications'} %>
    <% entries.each_with_index do |entry, i| -%>
    <entry>
      <!--CCD Medication activity - Required-->
      <substanceAdministration classCode="SBADM" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.16" extension="2014-06-09"/>
        <id root="<%= SecureRandom.uuid %>"/>
        <statusCode code="completed"/>
        <effectiveTime <%= value_or_null_flavor(entry.as_point_in_time) %>/>
        <% if entry.dose.present? -%>
          <doseQuantity value="<%= entry.dose['value']%>"/>
        <% else %>
          <doseQuantity value="1"/>
        <% end -%>
        <consumable>
          <!--CCD Product - Required-->
          <manufacturedProduct classCode="MANU">
			    <templateId root="2.16.840.1.113883.10.20.22.4.23" extension="2014-06-09"/>
            <manufacturedMaterial>
              <%== render :partial => 'code_with_reference', :locals => {:entry => entry, :i => i, :section => 'medications',
                                                                         :preferred_code_sets => ['RxNorm']} %>
              <name><%= entry.description %></name>
            </manufacturedMaterial>
          </manufacturedProduct>
        </consumable>
        <author typeCode="AUT">
            <time <%= value_or_null_flavor(entry.as_point_in_time) %>/>
            <assignedAuthor classCode="ASSIGNED">
              <id root="2.16.840.1.113883.4.6" extension="<%= entry.prescriber.npi %>"/>
              <addr>
                <streetAddressLine><%= entry.prescriber.addresses.first.street.first %></streetAddressLine>
                <city><%= entry.prescriber.addresses.first.city %></city>
                <state><%= entry.prescriber.addresses.first.state %></state>
                <postalCode><%= entry.prescriber.addresses.first.zip %></postalCode>
                <country>US</country>                          
              </addr>
              <telecom nullFlavor="UNK"/>
              <assignedPerson>
                  <name>
                      <given><%= entry.prescriber.given_name %></given>
                      <family><%= entry.prescriber.family_name %></family>
                  </name>
              </assignedPerson>
              <representedOrganization>
                <id root="2.201" extension="0001"/>
                <id root="2.16.840.1.113883.4.6" extension="1234567893"/>
                <name>NEXTGEN Medical Practice (Horsham)</name>
                <telecom use="WP" value="tel:+1-2156577010"/>
                <addr>
                  <streetAddressLine>795 Horsham Road</streetAddressLine>
                  <city>Horsham</city>
                  <state>PA</state>
                  <postalCode>19044</postalCode>
                </addr>
              </representedOrganization>
            </assignedAuthor>
        </author>
        <informant>
            <assignedEntity>
              <id root="2.16.840.1.113883.4.6" extension="<%= entry.prescriber.npi %>"/>
              <addr>
                <streetAddressLine><%= entry.prescriber.addresses.first.street.first %></streetAddressLine>
                <city><%= entry.prescriber.addresses.first.city %></city>
                <state><%= entry.prescriber.addresses.first.state %></state>
                <postalCode><%= entry.prescriber.addresses.first.zip %></postalCode>
                <country>US</country>                          
              </addr>
              <telecom nullFlavor="UNK"/>
              <assignedPerson>
                  <name>
                      <given><%= entry.prescriber.given_name %></given>
                      <family><%= entry.prescriber.family_name %></family>
                  </name>
              </assignedPerson>
              <representedOrganization>
                <id root="2.201" extension="0001"/>
                <id root="2.16.840.1.113883.4.6" extension="1234567893"/>
                <name>NEXTGEN Medical Practice (Horsham)</name>
                <telecom use="WP" value="tel:+1-2156577010"/>
                <addr>
                  <streetAddressLine>795 Horsham Road</streetAddressLine>
                  <city>Horsham</city>
                  <state>PA</state>
                  <postalCode>19044</postalCode>
                </addr>
              </representedOrganization>
            </assignedEntity>
        </informant>

        <% if true %>
        <entryRelationship typeCode="REFR">
            <supply classCode="SPLY" moodCode="INT">
                <templateId root="2.16.840.1.113883.10.20.22.4.17"/>
                <id root="<%= SecureRandom.uuid %>"/>
                <statusCode code="completed"/>
                <effectiveTime <%= value_or_null_flavor(entry.as_point_in_time) %>/>
                <repeatNumber value="1"/>
                <author typeCode="AUT" contextControlCode="OP">
                    <time <%= value_or_null_flavor(entry.as_point_in_time) %>/>
                    <assignedAuthor classCode="ASSIGNED">
                        <id root="2.16.840.1.113883.4.6" extension="<%= entry.prescriber.npi %>"/>
                        <addr use="WP">
                            <streetAddressLine><%= entry.prescriber.addresses.first.street.first %></streetAddressLine>
                            <city><%= entry.prescriber.addresses.first.city %></city>
                            <state><%= entry.prescriber.addresses.first.state %></state>
                            <postalCode><%= entry.prescriber.addresses.first.zip %></postalCode>
                            <country>US</country>                          
                        </addr>
                        <telecom nullFlavor="UNK"/>
                        <assignedPerson>
                            <name>
                                <given><%= entry.prescriber.given_name %></given>
                                <family><%= entry.prescriber.family_name %></family>
                            </name>
                        </assignedPerson>
                    </assignedAuthor>
                </author>
            </supply>
        </entryRelationship>
        <% end %>

      </substanceAdministration>
    </entry>
    <% end -%>
  </section>
</component>