<component>
  <!--Vital Signs-->
  <section>
    <!--Vital Signs section template-->
    <templateId root="2.16.840.1.113883.10.20.22.2.4.1"/>
    <id root="2.201" extension="VitalSigns"/>
    <code code="8716-3" displayName="PHYSICAL FINDINGS" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"/>
    <title>Vital Signs</title>
    <%== render :partial => 'narrative_block', :locals => {:entries => entries, :section => 'vitals', :value=>true} %>

    <entry typeCode="DRIV">
      <organizer classCode="CLUSTER" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.26"></templateId>

        <!-- Vital signs organizer template -->
        <id nullFlavor="UNK"></id>
        <code code="46680005" displayName="Vital signs" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT"/>

        <statusCode code="completed"/>
        <effectiveTime <%= value_or_null_flavor(entries.first.as_point_in_time) %>/>

        <% entries.each_with_index do |entry, i| -%>
        <component>
          <observation classCode="OBS" moodCode="EVN">
            <!-- Result observation template -->
            <templateId root="2.16.840.1.113883.10.20.22.4.27"></templateId>
            <id nullFlavor="UNK"/>
            <%== code_display(entry, {'preferred_code_sets' => ['LOINC','SNOMED-CT']}) %>
            <text>
              <reference value="#vitals-desc-<%= i %>"/>
            </text>
            <statusCode code="completed"/>
            <effectiveTime <%= value_or_null_flavor(entry.as_point_in_time) %>/>

            <% ev = entry.values.first
              if ev.present? && ev.respond_to?(:scalar) -%>
              <% if is_num?(ev.scalar) -%>
              <value xsi:type="PQ" value="<%= ev.scalar %>" <% if ev.units -%>unit="<%= ev.units %>"<% end -%>/>
              <% elsif is_bool?(ev.scalar)%>
              <value xsi:type="BL" value="<%= ev.scalar %>" />
              <% else -%>
              <value xsi:type="ST" ><%= ev.scalar %></value>
              <% end -%>
            <% else -%>
            <value xsi:type="PQ" nullFlavor="UNK"/>
            <% end -%>

            <entryRelationship typeCode="REFR">
              <act classCode="ACT" moodCode="EVN">
                <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.4.1"/>
                <id extension="a778b36c-2a08-4f41-bc2a-3f29293c4e3c" root="2.201"/>
                <code nullFlavor="UNK"/>
              </act>
            </entryRelationship>
          </observation>
        </component>
        <% end -%>

      </organizer>
    </entry>
  </section>
</component>